<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./mail.css
            
    body
        h2 Reestablecer Password
        p Hola, has solicitado reestablecer tu constraseña, haz clic aqui para reestablecerlo
        p Este enlace es temporal, si ha vencido vuelve a solicitarlo
        a(href=`${urlReset}`) Ir a resetear el password
        p Si no puedes abrir el enlace, visita: #{urlReset} 